form{
    margin-left:20vw;
    margin-top:20vh;
    width:42vw;
}

input{
    width:40vw;
   height:40px;
   font-size:30px;
}

label{
    font-size:30px;
}

button{
    height:40px;
    font-size:30px;
    background-color:blue;
    color:white;
    border:none;
    border-radius:5px;
    margin-top:4vh;
    margin-left:10vh;
}